@{
    ViewBag.Title = "Home Page";
}



//https://www.youtube.com/watch?v=bnFgGYooDCM

<h2>React Demo!</h2>

<div id="root"></div>




@section scripts {

    <script src="~/Scripts/React/dist/bundle.js"></script>
}
